{% extends "layout.html" %}
{% block content %}
<div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Avalehele</a>
                    <li role="presentation"><a href="createAccount">Proovi uuesti</a>
                    </li>
                </ul>
            </nav>
            <h2 class="text-muted">OÜ dot com</h2>
        </div>
  <div class="well">
  	<div class="errorHeadLine">
    	<h3>Midagi läks valesti!</h3>
    </div>
    <div class="errorTextBox">
        <p>Kahjuks sellise nime või registrikoodiga firma juba eksisteerib või Teie sisestatud andmed ei klappinud.</p>	
    </div>
  </div>
 </div>
  
{% endblock %}